{
  "file": 1, 
  "format": 1
}{
  "commands": [
    [
      "1ed81164c0facc9b84015d3a61de42dd70b1edd6", 
      "added", 
      "deluge-slackr-added"
    ], 
    [
      "385985161e54dcd1eeeb2f19e5aab8817c0b17e9", 
      "complete", 
      "deluge-slackr-complete"
    ]
  ]
}
